* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  widows: 100%;
  background: #ebeef1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 32px;
  font-weight: 500;
  padding: 20px;
  margin: 30px;
  width: 350px;
  background: #ebeef1;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: #00a037;
  box-shadow: 10px 10px 10px -1px rgb(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgb(255, 255, 255, 0.7);
}

button.reject {
  color: #ed0000;
  box-shadow: inset 10px 10px 10px -1px rgb(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgb(255, 255, 255, 0.7);
}
